*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 131, 131);
}
.search .input{
    position: relative;
    width:0px;
    height: 50px;
    transition: all .4s ease;
    padding: 0;
}
button{
    position: absolute;
    border:0;
    height: 50px;
    width: 50px;
}
input{
    border:0;
    outline: 0;
}
.search.active .input {
    width: 200px;
    height: 50px;
}
i{
    color:rgb(4, 131, 131);
}